/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 964px) {
  .nav,
  .fa-angle-down {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}
@media (max-width: 420px) {
  .header {
    padding-left: 50px;
  }
  .contact-box {
    left: 50px;
  }
}
@media (max-width: 392px) {
  .header {
    padding-left: 25px;
  }
  .contact-box {
    left: 25px;
  }
}
@media (max-width: 1120px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .area {
    max-width: 720px;
    width: 100%;
  }
  .area:first-child {
    margin-top: 16px;
  }
  .button {
    max-width: 720px;
    width: 100%;
  }
  .contact-form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1071px) {
  .triple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .trinity {
    margin-bottom: 15px;
  }
  .photos {
    -ms-flex-line-pack: center;
    align-content: center;
  }
}
@media (max-width: 1120px) {
  .box {
    width: 100%;
  }
}
@media (max-width: 1156px) {
  .brick {
    width: 50%;
  }
  .block {
    width: 50%;
  }
  .block-1 {
    width: 50%;
  }
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 980px) {
  .brick {
    width: 100%;
  }
  .block {
    width: 100%;
  }
  .block-1 {
    width: 100%;
  }
}
@media (max-width: 1104px) {
  .trio {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}
