/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Main Elements */
span {
  font-family: "Poppins-Bold";
  color: #5863f8;
  text-transform: uppercase;
}
h2 {
  font-family: "Poppins-ExtraBold";
  font-size: 42px;
}
h3 {
  font-family: "Poppins-Bold";
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
}
h4 {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  text-transform: capitalize;
  margin: 15px 0px 5px 0px;
}
p {
  font-family: "Poppins";
  font-size: 14px;
  color: #b1b1b1;
}
footer {
  max-height: 1550px;
  height: 100%;
  max-width: 1550px;
  width: 100%;
  background-color: black;
}
nav {
  margin-top: 20px;
}
/* Header */
.high-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 567px;
  width: 100%;
 
}
.nav {
  font-family: "Poppins-SemiBold";
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
}
.home {
  font-family: "Poppins-SemiBold";
  color: #5863f8;
  text-transform: uppercase;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 139px 274px 139px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}
.background {
  background-image: url("../images/top-image.jpg");
  height: 324px;
  max-width: 1550px;
  width: 100%;
  background-size: cover;
}
.background::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
  opacity: 60%;
}
.logo {
  font-family: "Poppins-Bold";
  color: #fff;
  text-transform: capitalize;
  max-width: 100px;
  width: 100%;
}
.fa-angle-down {
  color: #fff;
  margin-left: 5.5px;
}
.fa-bars {
  color: #fff;
  display: none;
}
.upper-header {
  color: #fff;
  text-transform: uppercase;
}
.contact-box-span {
  font-family: "Poppins";
  color: #fff;
  text-transform: capitalize;
  margin-top: 14px;
}
.contact-box-span-1 {
  font-family: "Poppins";
  color: #fff;
  text-transform: capitalize;
  margin-top: 14px;
}
.contact-box {
  position: absolute;
  top: 146px;
  left: 139px;
 
}
.inner-box {
  position: absolute;
  top: 56px;
}
.contact-box-span::after {
  content: "";
  height: 15px;
  width: 1px;
  background-color: #fff;
  display: inline-block;
  margin: 0px 16.5px 0px 14.5px;
}
/* Middle section*/
.map {
  max-width: 1088px;
  width: 100%;
  height: 268px;
}
.map-section {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding-top: 50px;
}
.map-section::after {
  content: "";
  display: block;
  color: black;
  opacity: 30%;
  height: 100%;
  width: 100%;
}
.contact-form {
  margin: 0 auto;
  max-width: 1088px;
  width: 100%;
  padding-top: 56px;
}

.lower-header {
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.text-area {
  max-width: 720px;
  width: 100%;
  height: 288px;
  background-color: #f8f8f8;
  resize: none;
}
.text-area::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.text-area::-moz-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.text-area:-ms-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.text-area::-ms-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.text-area::placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.text-area:focus {
  outline: none;
}
.area {
  max-width: 352px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  margin-bottom: 16px;
}
.area:focus {
  outline: none;
}
.area::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.area::-moz-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.area:-ms-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.area::-ms-input-placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.area::placeholder {
  text-transform: capitalize;
  color: #cecece;
  font-family: "Poppins";
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 352px;
  height: 60px;
  background-color: #5863f8;
  font-family: "Poppins";
  color: #fff;
  font-size: 14px;
}
.button:focus {
  outline: none;
}
.trio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1366px;
  width: 100%;
  margin-top: 50px;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 362px;
  height: 159px;
}
.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 58px;
  width: 59px;
  border-radius: 50px;
  background-color: #5863f8;
}
.fa-regular {
  color: #fff;
  width: 16.08px;
  height: 16.04px;
}
.contact-info {
  font-family: "Poppins";
  font-size: 14px;
  color: #b1b1b1;
}
.contact-info-1 {
  font-family: "Poppins";
  font-size: 14px;
  color: #b1b1b1;
  text-transform: capitalize;
}
.lowest-header {
  max-width: 570px;
  width: 100%;
}
.photos {
  margin-top: 100px;
  max-width: 567px;
  width: 100%;
}
.triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.trinity {
  width: 352px;
}
/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 90px 201px 0px 139px;
}
.brick {
  max-width: 260px;
}
.block {
  margin-left: 50px;
  max-width: 260px;
}
.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 50px;
  max-width: 260px;
}
.Paragraph {
  width: 260px;
  margin: 20px 0px;
}
.fa-brands {
  height: 35px;
  width: 35px;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #55acee;
}
.fa-google-plus {
  color: #dc4e41;
}
.h4-footer {
  color: #fff;
}
.e-mail {
  color: #5863f8;
  margin-right: 14px;
}
.final-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 54px;
  padding: 0px 139px;
  max-width: 1500px;
  width: 100%;
}
.last-paragraph::after {
  content: "marian";
  text-transform: capitalize;
  color: #5863f8;
}
.web-site {
  color: #5863f8;
  font-family: "Poppins";
  font-size: 14px;
}
.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.list {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 10px;
}
.color {
  color: #5863f8;
}
